In [29]:
#1
import os 

import pandas as pd
import numpy as np
import csv
import calendar
import copy

# sorted index to give correct order
month_order = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

In [55]:
#2
def read_data(dir):
    dfs = {}
    files = os.listdir(dir)

    # filter files by .csv to excluse .DS_Store
    csv_files = [file for file in files if file.endswith('.csv')]
    
    for csv_file in csv_files:
        # get month name
        month = calendar.month_name[int(csv_file[4:6])]
        
        # read csv file into dataframe
        dfs[month] = pd.read_csv(os.path.join(dir, csv_file) )

    # multi-index DataFrame where the outer index represents the month, and the inner index represents the rows within each month
    all_data = pd.concat(dfs.values(), keys=dfs.keys())
    # reorder DataFrames
    all_data = all_data.reorder_levels(order=[0, 1]).loc[month_order]

    return all_data

In [56]:
original_dir = "../../BikeShareData/OriginalData"
original_data = read_data(original_dir)

In [57]:
original_data

                          ride_id  rideable_type           started_at  \
January  0       F96D5A74A3E41399  electric_bike  2023-01-21 20:05:42
         1       13CB7EB698CEDB88   classic_bike  2023-01-10 15:37:36
         2       BD88A2E670661CE5  electric_bike  2023-01-02 07:51:57
         3       C90792D034FED968   classic_bike  2023-01-22 10:52:58
         4       3397017529188E8A   classic_bike  2023-01-12 13:58:01
...                           ...            ...                  ...
December 224068  F74DF9549B504A6B  electric_bike  2023-12-07 13:15:24
         224069  BCDA66E761CC1029   classic_bike  2023-12-08 18:42:21
         224070  D2CF330F9C266683   classic_bike  2023-12-05 14:09:11
         224071  3829A0D1E00EE970  electric_bike  2023-12-02 21:36:07
         224072  A373F5B447AEA508   classic_bike  2023-12-11 13:07:46

                            ended_at           start_station_name  \
January  0       2023-01-21 20:16:33  Lincoln Ave & Fullerton Ave
         1       2023-01-10 15:46:05        Kimbark Ave & 53rd St
         2       2023-01-02 08:05:11       Western Ave & Lunt Ave
         3       2023-01-22 11:01:44        Kimbark Ave & 53rd St
         4       2023-01-12 14:13:20        Kimbark Ave & 53rd St
...                              ...                          ...
December 224068  2023-12-07 13:17:37            900 W Harrison St
         224069  2023-12-08 18:45:56            900 W Harrison St
         224070  2023-12-05 14:13:01            900 W Harrison St
         224071  2023-12-02 21:53:45       Damen Ave & Madison St
         224072  2023-12-11 13:11:24            900 W Harrison St

                start_station_id                end_station_name  \
January  0          TA1309000058       Hampden Ct & Diversey Ave
         1          TA1309000037         Greenwood Ave & 47th St
         2                RP-005  Valli Produce - Evanston Plaza
         3          TA1309000037         Greenwood Ave & 47th St
         4          TA1309000037         Greenwood Ave & 47th St
...                          ...                             ...
December 224068            13028      Racine Ave & Congress Pkwy
         224069            13028      Racine Ave & Congress Pkwy
         224070            13028      Racine Ave & Congress Pkwy
         224071            13134            Morgan St & Lake St*
         224072            13028      Racine Ave & Congress Pkwy

                end_station_id  start_lat  start_lng    end_lat    end_lng  \
January  0            202480.0  41.924074 -87.646278  41.930000 -87.640000
         1        TA1308000002  41.799568 -87.594747  41.809835 -87.599383
         2                 599  42.008571 -87.690483  42.039742 -87.699413
         3        TA1308000002  41.799568 -87.594747  41.809835 -87.599383
         4        TA1308000002  41.799568 -87.594747  41.809835 -87.599383
...                        ...        ...        ...        ...        ...
December 224068   TA1306000025  41.874702 -87.649804  41.874640 -87.657030
         224069   TA1306000025  41.874754 -87.649807  41.874640 -87.657030
         224070   TA1306000025  41.874754 -87.649807  41.874640 -87.657030
         224071   chargingstx4  41.881396 -87.674984  41.885492 -87.652289
         224072   TA1306000025  41.874754 -87.649807  41.874640 -87.657030

                member_casual
January  0             member
         1             member
         2             casual
         3             member
         4             member
...                       ...
December 224068        casual
         224069        casual
         224070        member
         224071        casual
         224072        member

[5719877 rows x 13 columns]

In [59]:
original_data.iloc[25]

ride_id                         8BF68A18C282C01C
rideable_type                      electric_bike
started_at                   2023-01-16 18:16:20
ended_at                     2023-01-16 18:24:22
start_station_name    Wilton Ave & Diversey Pkwy
start_station_id                    TA1306000014
end_station_name       Hampden Ct & Diversey Ave
end_station_id                          202480.0
start_lat                              41.932497
start_lng                              -87.65268
end_lat                                    41.93
end_lng                                   -87.64
member_casual                             member
Name: (January, 25), dtype: object

In [26]:
# the number of unique values in May
# unique values for specific columns
print("Column Name:          NUnique")
print(original_data.loc['May'].nunique())
print(original_data.loc['May'].rideable_type.unique())
print(original_data.loc['May'].member_casual.unique())

Column Name:          NUnique
ride_id               604827
rideable_type              3
started_at            503683
ended_at              505259
start_station_name      1287
start_station_id        1250
end_station_name        1254
end_station_id          1210
start_lat             188591
start_lng             185410
end_lat                 4759
end_lng                 4762
member_casual              2
dtype: int64
['electric_bike' 'classic_bike' 'docked_bike']
['member' 'casual']

In [28]:
original_data.groupby(level=0).size()

April        426590
August       771693
December     224073
February     190445
January      190301
July         767650
June         719618
March        258678
May          604827
November     362518
October      537113
September    666371
dtype: int64