In order to get the final results presented in the report, the cells that are numbered using # should be run in the stated order. Other non-numbered cells, can be used to show some intermediate outputs but are not necessary to get the final results.

# Cleaning

First, we have the imports for the libraries that will be needed, as well as an ordered list of the months. This list is required because when the months are sorted automatically, they sorted alphabetically. Therefore, this list is used to override the alphabetic sorting.

In [2]:
#1
import os

import pandas as pd
import calendar         # to convert file numbers to name of month
import copy             # to copy dataset before adding new columns to it

# sorted index to give correct order
month_order = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

Next is the read_data method which reads takes as an input the directory where the csv files are located, and returns the data in the form of a  multi-index DataFrame.

In [3]:
#2
# input:    name of the directory where csv files are stored
# output:   multi-index DF that contains the entire dataset. 
#           the index level = 0 represents the name of the month
#           the index level = 1 represents the numbered index of the row
def read_data(dir):
    dfs = {}
    files = os.listdir(dir)

    # filter files by .csv to excluse .DS_Store
    csv_files = [file for file in files if file.endswith('.csv')]
    
    for csv_file in csv_files:
        # get month name
        month = calendar.month_name[int(csv_file[4:6])]
        
        # read csv file into a DF
        dfs[month] = pd.read_csv(os.path.join(dir, csv_file) )

    # multi-index DF
    all_data = pd.concat(dfs.values(), keys=dfs.keys())
    # reorder DFs so that they have the right order
    all_data = all_data.reorder_levels(order=[0, 1]).loc[month_order]

    all_data.index.names = ['Month', 'row_id']

    return all_data

In [4]:
#3
# read data into the multi-index DF original_data
original_dir = "../../BikeShareData/OriginalData"
original_data = read_data(original_dir)

In [5]:
original_data

                          ride_id  rideable_type           started_at  \
Month    row_id
January  0       F96D5A74A3E41399  electric_bike  2023-01-21 20:05:42
         1       13CB7EB698CEDB88   classic_bike  2023-01-10 15:37:36
         2       BD88A2E670661CE5  electric_bike  2023-01-02 07:51:57
         3       C90792D034FED968   classic_bike  2023-01-22 10:52:58
         4       3397017529188E8A   classic_bike  2023-01-12 13:58:01
...                           ...            ...                  ...
December 224068  F74DF9549B504A6B  electric_bike  2023-12-07 13:15:24
         224069  BCDA66E761CC1029   classic_bike  2023-12-08 18:42:21
         224070  D2CF330F9C266683   classic_bike  2023-12-05 14:09:11
         224071  3829A0D1E00EE970  electric_bike  2023-12-02 21:36:07
         224072  A373F5B447AEA508   classic_bike  2023-12-11 13:07:46

                            ended_at           start_station_name  \
Month    row_id
January  0       2023-01-21 20:16:33  Lincoln Ave & Fullerton Ave
         1       2023-01-10 15:46:05        Kimbark Ave & 53rd St
         2       2023-01-02 08:05:11       Western Ave & Lunt Ave
         3       2023-01-22 11:01:44        Kimbark Ave & 53rd St
         4       2023-01-12 14:13:20        Kimbark Ave & 53rd St
...                              ...                          ...
December 224068  2023-12-07 13:17:37            900 W Harrison St
         224069  2023-12-08 18:45:56            900 W Harrison St
         224070  2023-12-05 14:13:01            900 W Harrison St
         224071  2023-12-02 21:53:45       Damen Ave & Madison St
         224072  2023-12-11 13:11:24            900 W Harrison St

                start_station_id                end_station_name  \
Month    row_id
January  0          TA1309000058       Hampden Ct & Diversey Ave
         1          TA1309000037         Greenwood Ave & 47th St
         2                RP-005  Valli Produce - Evanston Plaza
         3          TA1309000037         Greenwood Ave & 47th St
         4          TA1309000037         Greenwood Ave & 47th St
...                          ...                             ...
December 224068            13028      Racine Ave & Congress Pkwy
         224069            13028      Racine Ave & Congress Pkwy
         224070            13028      Racine Ave & Congress Pkwy
         224071            13134            Morgan St & Lake St*
         224072            13028      Racine Ave & Congress Pkwy

                end_station_id  start_lat  start_lng    end_lat    end_lng  \
Month    row_id
January  0            202480.0  41.924074 -87.646278  41.930000 -87.640000
         1        TA1308000002  41.799568 -87.594747  41.809835 -87.599383
         2                 599  42.008571 -87.690483  42.039742 -87.699413
         3        TA1308000002  41.799568 -87.594747  41.809835 -87.599383
         4        TA1308000002  41.799568 -87.594747  41.809835 -87.599383
...                        ...        ...        ...        ...        ...
December 224068   TA1306000025  41.874702 -87.649804  41.874640 -87.657030
         224069   TA1306000025  41.874754 -87.649807  41.874640 -87.657030
         224070   TA1306000025  41.874754 -87.649807  41.874640 -87.657030
         224071   chargingstx4  41.881396 -87.674984  41.885492 -87.652289
         224072   TA1306000025  41.874754 -87.649807  41.874640 -87.657030

                member_casual
Month    row_id
January  0             member
         1             member
         2             casual
         3             member
         4             member
...                       ...
December 224068        casual
         224069        casual
         224070        member
         224071        casual
         224072        member

[5719877 rows x 13 columns]

In [193]:
original_data.loc["May"]
#original_data.loc[("May", 0), :]
#original_data.loc[("May", 0), "rideable_type"]

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
row_id,,,,,,,,,,,,,
0,0D9FA920C3062031,electric_bike,2023-05-07 19:53:48,2023-05-07 19:58:32,Southport Ave & Belmont Ave,13229,NaN,NaN,41.939408,-87.663831,41.930000,-87.650000,member
1,92485E5FB5888ACD,electric_bike,2023-05-06 18:54:08,2023-05-06 19:03:35,Southport Ave & Belmont Ave,13229,NaN,NaN,41.939482,-87.663848,41.940000,-87.690000,member
2,FB144B3FC8300187,electric_bike,2023-05-21 00:40:21,2023-05-21 00:44:36,Halsted St & 21st St,13162,NaN,NaN,41.853793,-87.646719,41.860000,-87.650000,member
3,DDEB93BC2CE9AA77,classic_bike,2023-05-10 16:47:01,2023-05-10 16:59:52,Carpenter St & Huron St,13196,Damen Ave & Cortland St,13133,41.894556,-87.653449,41.915983,-87.677335,member
4,C07B70172FC92F59,classic_bike,2023-05-09 18:30:34,2023-05-09 18:39:28,Southport Ave & Clark St,TA1308000047,Southport Ave & Belmont Ave,13229,41.957081,-87.664199,41.939478,-87.663748,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
604822,48BDA26F34445546,electric_bike,2023-05-18 10:26:43,2023-05-18 10:48:00,Clark St & Elmdale Ave,KA1504000148,NaN,NaN,41.990876,-87.669721,42.000000,-87.660000,member
604823,573025E5EDE10DE1,electric_bike,2023-05-17 14:32:48,2023-05-17 14:45:37,State St & 33rd St,13216,NaN,NaN,41.834734,-87.625798,41.830000,-87.620000,member
604824,D88D48898C6FB63E,electric_bike,2023-05-17 07:59:29,2023-05-17 08:04:54,Columbus Dr & Randolph St,13263,NaN,NaN,41.884422,-87.619393,41.880000,-87.630000,member
604825,4692DCD2F87497F5,electric_bike,2023-05-18 08:34:48,2023-05-18 08:38:40,Public Rack - Karlov Ave & Lawrence Ave,1127.0,NaN,NaN,41.970000,-87.730000,41.970000,-87.740000,member
604826,6ACB7E383473D019,electric_bike,2023-05-29 21:16:58,2023-05-29 21:24:35,State St & 33rd St,13216,NaN,NaN,41.834715,-87.625764,41.840000,-87.650000,member

In [194]:
original_data.index

MultiIndex([( 'January',      0),
            ( 'January',      1),
            ( 'January',      2),
            ( 'January',      3),
            ( 'January',      4),
            ( 'January',      5),
            ( 'January',      6),
            ( 'January',      7),
            ( 'January',      8),
            ( 'January',      9),
            ...
            ('December', 224063),
            ('December', 224064),
            ('December', 224065),
            ('December', 224066),
            ('December', 224067),
            ('December', 224068),
            ('December', 224069),
            ('December', 224070),
            ('December', 224071),
            ('December', 224072)],
           names=['Month', 'row_id'], length=5719877)

The method count_entries which prints out the size of the total dataset, size per month, and average across months

In [6]:
#4 
# input: dataset and title of printout
# output: printout of a series which has the same index as level = 0 in the dataset, 
#         and then values are no of entries in each group
def count_entries(dataset, title):
    print(f"\033[1m{title}: \033[0m")
    #print("\033[1mMonth \t     No of Entries\033[0m")
    # for each month (level = 0), find the size, and then reorder 
    size_series = dataset.groupby(level=0).size().reindex(month_order)
    print(size_series)
    print("")
    print(f"\033[1mTotal in 2023:\t    {len(dataset)}\033[0m")
    print(f"\033[1mAvg. per month:\t    {int(size_series.mean())}\033[0m")

In [7]:
#5
count_entries(original_data, "No of BikeRides Original")

No of BikeRides Original:
Month
January      190301
February     190445
March        258678
April        426590
May          604827
June         719618
July         767650
August       771693
September    666371
October      537113
November     362518
December     224073
dtype: int64

Total in 2023:	    5719877
Avg. per month:	    476656

In [8]:
#6
# call count_entries after removing duplicates
data_without_duplicates = original_data.drop_duplicates()
count_entries(data_without_duplicates, "No of BikeRides without Duplicates")

No of BikeRides without Duplicates:
Month
January      190301
February     190445
March        258678
April        426590
May          604827
June         719618
July         767650
August       771693
September    666371
October      537113
November     362518
December     224073
dtype: int64

Total in 2023:	    5719877
Avg. per month:	    476656

Method get_null_percentage and it helper method get_percentage, calculate the percentage of null values in each column and for each month

In [9]:
#7
# helper method which takes a DF that results from a grouping by level = 0
#   1. find no of null values isna() 
#   2. sum across all entries => axis = 0
#   3. convert to percentage
def get_percentage(x):
    # when dividing, must use len(x) which gets no of entries in DF, and not x.count() which returns only no of non-null values
    null_values = ((x.isna().sum(axis=0))*100/len(x))
    as_percent = null_values.apply(lambda y: str(int(y))+"%" if y > 1 else ("< 1%" if y > 0 else str(0)))
    return as_percent

In [10]:
#8
# input: dataset
# output:   DF that has same index as level = 0 in the dataset,
#           same columns, and then values are percentage of nulls in each column for each group
def get_null_percentage(dataset):
    # for operations that are not implemented in the groupby aggregation we must use the apply function
    # so first groupby by month , this gives a df, for each df apply the function get_percentage_nulls
    nan_per_column = dataset.groupby('Month').apply(lambda x: get_percentage(x)).reindex(month_order)
    return nan_per_column

In [11]:
#9
nans = get_null_percentage(original_data)
nans

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
Month,,,,,,,,,,,,,
January,0,0,0,0,14%,14%,14%,14%,0,0,< 1%,< 1%,0
February,0,0,0,0,13%,13%,14%,14%,0,0,< 1%,< 1%,0
March,0,0,0,0,13%,13%,14%,14%,0,0,< 1%,< 1%,0
April,0,0,0,0,14%,14%,16%,16%,0,0,< 1%,< 1%,0
May,0,0,0,0,14%,14%,15%,15%,0,0,< 1%,< 1%,0
June,0,0,0,0,16%,16%,17%,17%,0,0,< 1%,< 1%,0
July,0,0,0,0,16%,16%,16%,16%,0,0,< 1%,< 1%,0
August,0,0,0,0,15%,15%,16%,16%,0,0,< 1%,< 1%,0
September,0,0,0,0,15%,15%,16%,16%,0,0,< 1%,< 1%,0
October,0,0,0,0,15%,15%,16%,16%,0,0,< 1%,< 1%,0
November,0,0,0,0,15%,15%,15%,15%,0,0,< 1%,< 1%,0
December,0,0,0,0,15%,15%,16%,16%,0,0,< 1%,< 1%,0

Method get_unique prints out the number of unique values for each column within a certain month.

In [ ]:
#10
# input: dataset
# output:   printout of series, index is columns, values are no of unique values
#           then unique values in columns rideable_type and member_casual
def get_unique(dataset, month):
    print("\033[1mColumn Name          NUnique Values \033[0m")
    print(dataset.loc[month].nunique())
    print("")
    print(dataset.loc[month].rideable_type.unique())
    print(dataset.loc[month].member_casual.unique())

In [63]:
#11
get_unique(original_data, "May")

Column Name          NUnique Values
ride_id               604827
rideable_type              3
started_at            503683
ended_at              505259
start_station_name      1287
start_station_id        1250
end_station_name        1254
end_station_id          1210
start_lat             188591
start_lng             185410
end_lat                 4759
end_lng                 4762
member_casual              2
dtype: int64

['electric_bike' 'classic_bike' 'docked_bike']
['member' 'casual']

In [78]:
original_data.loc["May"].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 604827 entries, 0 to 604826
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             604827 non-null  object
 1   rideable_type       604827 non-null  object
 2   started_at          604827 non-null  object
 3   ended_at            604827 non-null  object
 4   start_station_name  515587 non-null  object
 5   start_station_id    515587 non-null  object
 6   end_station_name    509560 non-null  object
 7   end_station_id      509560 non-null  object
 8   start_lat           604827 non-null  float64
 9   start_lng           604827 non-null  float64
 10  end_lat             604117 non-null  float64
 11  end_lng             604117 non-null  float64
 12  member_casual       604827 non-null  object
dtypes: float64(4), object(9)
memory usage: 64.6+ MB

Get the percentage of non-unique values in the column started_at for May

In [69]:
# total number of entries
total = len(original_data.loc["May"])
# number of unique started at
started = original_data.loc["May"].started_at.nunique()
print("Total: \t",total)
print("Started_At: ",started)
print(f"Percent: {int((total-started)*100/total)}%",)

Total: 	 604827
Started_At:  503683
Percent: 16%

Get entries that have the same started_at

In [202]:
#12
# this is a series of flags, True if unique, False if there exists another entry like this one
duplicated_flags = original_data.loc["May"].started_at.duplicated()
# use the flags to retrieve entries where duplicated == True
get_duplicates = original_data.loc["May"][duplicated_flags]
# get the started_at time for first row in the duplicates
first_duplicate = get_duplicates.iloc[0].started_at
# find the rest of the entries that match the same started_at as the first one retrieved from the duplicates
matching_duplicates = original_data.loc["May"][original_data.loc["May"].started_at == first_duplicate]
matching_duplicates

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
row_id,,,,,,,,,,,,,
727,041763A703C94783,electric_bike,2023-05-28 14:59:58,2023-05-28 15:12:47,Kedzie Ave & Milwaukee Ave,13085,Kilpatrick Ave & Parker Ave,358,41.929673,-87.708045,41.930731,-87.744106,casual
2710,5AEC034DB275854E,electric_bike,2023-05-28 14:59:58,2023-05-28 15:26:56,Broadway & Belmont Ave,13277,NaN,NaN,41.940170,-87.645626,41.960000,-87.640000,casual
400665,A99D22D37DC92962,electric_bike,2023-05-28 14:59:58,2023-05-28 15:09:35,NaN,NaN,MTV Hubbard St,021320,41.880000,-87.660000,41.889779,-87.680341,member
557920,79A55702C0B6D246,docked_bike,2023-05-28 14:59:58,2023-05-28 16:24:12,Streeter Dr & Grand Ave,13022,Field Museum,13029,41.892278,-87.612043,41.865312,-87.617867,casual

Drop the columns with NAN values, and convert the started and ended_at to datetime.

In [12]:
#13
# 1st phase of cleaning the data
# input: dataset
# output:   1. dataset where all columns related to location are dropped
#           and started(ended)_at are converted to datetime
#           2. series which contains flags True if ended_at before start_at
def clean_data1(dataset):
    cols_to_drop = ['ride_id','start_station_name', 'end_station_name', 'start_station_id', 'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng']
    cleand_data1 = dataset.drop(columns = cols_to_drop)

    # convert to datetime
    cleand_data1.started_at, cleand_data1.ended_at  = pd.to_datetime(cleand_data1.started_at), pd.to_datetime(cleand_data1.ended_at)

    # series of flags
    ended_before_started = cleand_data1.ended_at < cleand_data1.started_at
    
    return cleand_data1, ended_before_started

In [13]:
#14
cleaned_data1, end_before_start = clean_data1(original_data)
cleaned_data1
#end_before_start

                 rideable_type          started_at            ended_at  \
Month    row_id
January  0       electric_bike 2023-01-21 20:05:42 2023-01-21 20:16:33
         1        classic_bike 2023-01-10 15:37:36 2023-01-10 15:46:05
         2       electric_bike 2023-01-02 07:51:57 2023-01-02 08:05:11
         3        classic_bike 2023-01-22 10:52:58 2023-01-22 11:01:44
         4        classic_bike 2023-01-12 13:58:01 2023-01-12 14:13:20
...                        ...                 ...                 ...
December 224068  electric_bike 2023-12-07 13:15:24 2023-12-07 13:17:37
         224069   classic_bike 2023-12-08 18:42:21 2023-12-08 18:45:56
         224070   classic_bike 2023-12-05 14:09:11 2023-12-05 14:13:01
         224071  electric_bike 2023-12-02 21:36:07 2023-12-02 21:53:45
         224072   classic_bike 2023-12-11 13:07:46 2023-12-11 13:11:24

                member_casual
Month    row_id
January  0             member
         1             member
         2             casual
         3             member
         4             member
...                       ...
December 224068        casual
         224069        casual
         224070        member
         224071        casual
         224072        member

[5719877 rows x 4 columns]

In [88]:
cleaned_data1.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 5719877 entries, ('January', 0) to ('December', 224072)
Data columns (total 4 columns):
 #   Column         Dtype
---  ------         -----
 0   rideable_type  object
 1   started_at     datetime64[ns]
 2   ended_at       datetime64[ns]
 3   member_casual  object
dtypes: datetime64[ns](2), object(2)
memory usage: 223.8+ MB

In [89]:
# check that original_data is unaffected
original_data

                          ride_id  rideable_type           started_at  \
January  0       F96D5A74A3E41399  electric_bike  2023-01-21 20:05:42
         1       13CB7EB698CEDB88   classic_bike  2023-01-10 15:37:36
         2       BD88A2E670661CE5  electric_bike  2023-01-02 07:51:57
         3       C90792D034FED968   classic_bike  2023-01-22 10:52:58
         4       3397017529188E8A   classic_bike  2023-01-12 13:58:01
...                           ...            ...                  ...
December 224068  F74DF9549B504A6B  electric_bike  2023-12-07 13:15:24
         224069  BCDA66E761CC1029   classic_bike  2023-12-08 18:42:21
         224070  D2CF330F9C266683   classic_bike  2023-12-05 14:09:11
         224071  3829A0D1E00EE970  electric_bike  2023-12-02 21:36:07
         224072  A373F5B447AEA508   classic_bike  2023-12-11 13:07:46

                            ended_at           start_station_name  \
January  0       2023-01-21 20:16:33  Lincoln Ave & Fullerton Ave
         1       2023-01-10 15:46:05        Kimbark Ave & 53rd St
         2       2023-01-02 08:05:11       Western Ave & Lunt Ave
         3       2023-01-22 11:01:44        Kimbark Ave & 53rd St
         4       2023-01-12 14:13:20        Kimbark Ave & 53rd St
...                              ...                          ...
December 224068  2023-12-07 13:17:37            900 W Harrison St
         224069  2023-12-08 18:45:56            900 W Harrison St
         224070  2023-12-05 14:13:01            900 W Harrison St
         224071  2023-12-02 21:53:45       Damen Ave & Madison St
         224072  2023-12-11 13:11:24            900 W Harrison St

                start_station_id                end_station_name  \
January  0          TA1309000058       Hampden Ct & Diversey Ave
         1          TA1309000037         Greenwood Ave & 47th St
         2                RP-005  Valli Produce - Evanston Plaza
         3          TA1309000037         Greenwood Ave & 47th St
         4          TA1309000037         Greenwood Ave & 47th St
...                          ...                             ...
December 224068            13028      Racine Ave & Congress Pkwy
         224069            13028      Racine Ave & Congress Pkwy
         224070            13028      Racine Ave & Congress Pkwy
         224071            13134            Morgan St & Lake St*
         224072            13028      Racine Ave & Congress Pkwy

                end_station_id  start_lat  start_lng    end_lat    end_lng  \
January  0            202480.0  41.924074 -87.646278  41.930000 -87.640000
         1        TA1308000002  41.799568 -87.594747  41.809835 -87.599383
         2                 599  42.008571 -87.690483  42.039742 -87.699413
         3        TA1308000002  41.799568 -87.594747  41.809835 -87.599383
         4        TA1308000002  41.799568 -87.594747  41.809835 -87.599383
...                        ...        ...        ...        ...        ...
December 224068   TA1306000025  41.874702 -87.649804  41.874640 -87.657030
         224069   TA1306000025  41.874754 -87.649807  41.874640 -87.657030
         224070   TA1306000025  41.874754 -87.649807  41.874640 -87.657030
         224071   chargingstx4  41.881396 -87.674984  41.885492 -87.652289
         224072   TA1306000025  41.874754 -87.649807  41.874640 -87.657030

                member_casual
January  0             member
         1             member
         2             casual
         3             member
         4             member
...                       ...
December 224068        casual
         224069        casual
         224070        member
         224071        casual
         224072        member

[5719877 rows x 13 columns]

In [204]:
#15
# find the entries where end_before_start is True
end_before_start_DF = cleaned_data1[:][end_before_start]
end_before_start_DF

                 rideable_type          started_at            ended_at  \
Month    row_id
February 189347  electric_bike 2023-02-04 13:08:08 2023-02-04 13:04:52
April    361967  electric_bike 2023-04-04 17:15:08 2023-04-04 17:15:05
         361983   classic_bike 2023-04-19 14:47:18 2023-04-19 14:47:14
         362063  electric_bike 2023-04-27 07:51:14 2023-04-27 07:51:09
         363359  electric_bike 2023-04-06 23:09:31 2023-04-06 23:00:35
...                        ...                 ...                 ...
December 54495   electric_bike 2023-12-12 20:17:56 2023-12-12 20:17:55
         64671    classic_bike 2023-12-11 19:31:28 2023-12-11 19:31:27
         117303  electric_bike 2023-12-07 16:43:01 2023-12-07 16:42:59
         133133  electric_bike 2023-12-05 18:04:30 2023-12-05 18:04:29
         220106  electric_bike 2023-12-06 16:07:40 2023-12-06 16:07:37

                member_casual
Month    row_id
February 189347        member
April    361967        member
         361983        member
         362063        casual
         363359        member
...                       ...
December 54495         casual
         64671         member
         117303        member
         133133        member
         220106        member

[272 rows x 4 columns]

In [205]:
end_before_start_DF.index

MultiIndex([('February', 189347),
            (   'April', 361967),
            (   'April', 361983),
            (   'April', 362063),
            (   'April', 363359),
            (     'May',   8308),
            (     'May',  38552),
            (     'May', 103546),
            (     'May', 103547),
            (     'May', 209340),
            ...
            ('December',   1421),
            ('December',  19935),
            ('December',  26356),
            ('December',  52953),
            ('December',  53835),
            ('December',  54495),
            ('December',  64671),
            ('December', 117303),
            ('December', 133133),
            ('December', 220106)],
           names=['Month', 'row_id'], length=272)

Remove entries where ended before started

In [14]:
#16
def clean_data(dataset, flags):
    clean =  dataset[:][flags == False]
    return clean

In [15]:
#17
cleaned_data = clean_data(cleaned_data1, end_before_start)
cleaned_data

                 rideable_type          started_at            ended_at  \
Month    row_id
January  0       electric_bike 2023-01-21 20:05:42 2023-01-21 20:16:33
         1        classic_bike 2023-01-10 15:37:36 2023-01-10 15:46:05
         2       electric_bike 2023-01-02 07:51:57 2023-01-02 08:05:11
         3        classic_bike 2023-01-22 10:52:58 2023-01-22 11:01:44
         4        classic_bike 2023-01-12 13:58:01 2023-01-12 14:13:20
...                        ...                 ...                 ...
December 224068  electric_bike 2023-12-07 13:15:24 2023-12-07 13:17:37
         224069   classic_bike 2023-12-08 18:42:21 2023-12-08 18:45:56
         224070   classic_bike 2023-12-05 14:09:11 2023-12-05 14:13:01
         224071  electric_bike 2023-12-02 21:36:07 2023-12-02 21:53:45
         224072   classic_bike 2023-12-11 13:07:46 2023-12-11 13:11:24

                member_casual
Month    row_id
January  0             member
         1             member
         2             casual
         3             member
         4             member
...                       ...
December 224068        casual
         224069        casual
         224070        member
         224071        casual
         224072        member

[5719605 rows x 4 columns]

# Preparation:

Add columns ride length and day of week

In [16]:
#18
# input: dataset
# output: copy of dataset with extra columns: ride_length and day_of_week
def prepare_data(dataset):
    prep_data   = copy.deepcopy(dataset)
    length      = prep_data.ended_at - prep_data.started_at             # this has unit of timedelta, which we cannot use later to aggregate
    length      = length.dt.seconds + length.dt.days*24*3600             # convert timedelta to seconds

    prep_data.insert(len(prep_data.columns), "ride_length", length)
    prep_data.insert(len(prep_data.columns), "day_of_week", prep_data.started_at.dt.day_name())

    return prep_data

In [17]:
#19
prepared_data = prepare_data(cleaned_data)
prepared_data

                 rideable_type          started_at            ended_at  \
Month    row_id
January  0       electric_bike 2023-01-21 20:05:42 2023-01-21 20:16:33
         1        classic_bike 2023-01-10 15:37:36 2023-01-10 15:46:05
         2       electric_bike 2023-01-02 07:51:57 2023-01-02 08:05:11
         3        classic_bike 2023-01-22 10:52:58 2023-01-22 11:01:44
         4        classic_bike 2023-01-12 13:58:01 2023-01-12 14:13:20
...                        ...                 ...                 ...
December 224068  electric_bike 2023-12-07 13:15:24 2023-12-07 13:17:37
         224069   classic_bike 2023-12-08 18:42:21 2023-12-08 18:45:56
         224070   classic_bike 2023-12-05 14:09:11 2023-12-05 14:13:01
         224071  electric_bike 2023-12-02 21:36:07 2023-12-02 21:53:45
         224072   classic_bike 2023-12-11 13:07:46 2023-12-11 13:11:24

                member_casual  ride_length day_of_week
Month    row_id
January  0             member          651    Saturday
         1             member          509     Tuesday
         2             casual          794      Monday
         3             member          526      Sunday
         4             member          919    Thursday
...                       ...          ...         ...
December 224068        casual          133    Thursday
         224069        casual          215      Friday
         224070        member          230     Tuesday
         224071        casual         1058    Saturday
         224072        member          218      Monday

[5719605 rows x 6 columns]

# Analysis

calculate statistics mean, max and mode

In [326]:
#20
# converts seconds into HH:MM:SS format or DD days HH:MM:SS
def format_time(seconds):
    # if the input is an integer or a float
    if isinstance(seconds,int) or isinstance(seconds,float):    
        min, sec    = divmod(seconds, 60)
        hour, min   = divmod(min, 60)

        if hour >= 24:
            day, hour   = divmod(hour, 24)
            return '%02d days %02d:%02d:%02d' % (day, hour, min, sec)
        
        return '%02d:%02d:%02d' % (hour, min, sec)
    
    return seconds

In [329]:
#21
#input:  dataset, and what to use in order to groupby
#output: dataframe which contains statistics per month, and list of whole year statistics
def mean_max_mode(dataset, list_to_groupby=['Month']):
    
    df = dataset.groupby(list_to_groupby).agg({'ride_length':['mean','max'], 
                                               'day_of_week': [('mode', lambda x: x.mode().iloc[0])]})

    year_statistics  = [format_time(df['ride_length','mean'].mean()), format_time(df['ride_length','max'].max()), df['day_of_week','mode'].mode()[0]]

    # applymap works element-wise on the dataframe
    # convert seconds to timestaps
    df = df.applymap(format_time)

    # when the df has a single index then reindex, otherwise multi-index we have to use reorder
    df = df.reindex(month_order) if len(list_to_groupby) == 1 else df.reorder_levels(order=[0, 1]).loc[month_order]

    return df, year_statistics

In [332]:
#22
df, stats = mean_max_mode(prepared_data)
display(df)
print(f"\033[1mYear 2023: {stats[0]}  {stats[1]} \t{stats[2]} \t\033[0m")

          ride_length                   day_of_week
                 mean               max        mode
Month
January      00:13:00  23 days 08:03:44     Tuesday
February     00:13:31  13 days 02:25:46     Tuesday
March        00:13:04  11 days 16:08:04   Wednesday
April        00:17:12  12 days 18:35:29    Saturday
May          00:19:02  20 days 06:50:31     Tuesday
June         00:19:59  20 days 11:05:58      Friday
July         00:21:44  35 days 17:41:24    Saturday
August       00:22:25  68 days 09:29:04   Wednesday
September    00:17:52  01 days 01:07:46    Saturday
October      00:15:41  01 days 00:59:57     Tuesday
November     00:13:49  01 days 01:00:25    Thursday
December     00:13:24  01 days 00:59:57      Friday

Year 2023: 00:16:44  68 days 09:29:04 	Tuesday

In [333]:
#23
df2, stats2 = mean_max_mode(prepared_data, list_to_groupby=['Month', 'member_casual'])
display(df2)

                        ride_length                   day_of_week
                               mean               max        mode
Month     member_casual
January   casual           00:22:54  23 days 08:03:44     Tuesday
          member           00:10:21  01 days 00:59:56     Tuesday
February  casual           00:23:11  13 days 02:25:46      Sunday
          member           00:10:42  01 days 00:59:56     Tuesday
March     casual           00:21:24  11 days 16:08:04   Wednesday
          member           00:10:26  01 days 01:59:40   Wednesday
April     casual           00:27:40  12 days 18:35:29    Saturday
          member           00:11:41  01 days 00:59:56    Thursday
May       casual           00:28:31  20 days 06:50:31      Sunday
          member           00:13:02  01 days 01:00:31     Tuesday
June      casual           00:29:24  20 days 11:05:58    Saturday
          member           00:13:12  01 days 00:59:56      Friday
July      casual           00:32:20  35 days 17:41:24    Saturday
          member           00:13:41  01 days 00:59:57      Monday
August    casual           00:35:14  68 days 09:29:04    Saturday
          member           00:13:46  01 days 00:59:57     Tuesday
September casual           00:25:11  01 days 01:07:46    Saturday
          member           00:13:08  01 days 00:59:57      Friday
October   casual           00:22:52  01 days 00:59:57      Sunday
          member           00:12:09  01 days 00:59:56     Tuesday
November  casual           00:19:54  01 days 01:00:25    Saturday
          member           00:11:34  01 days 00:59:56    Thursday
December  casual           00:19:56  01 days 00:59:57    Saturday
          member           00:11:26  01 days 00:59:56      Friday

In [354]:
# Calculate the average and maximum ride_length for members and casual riders
dataset = prepared_data
df = dataset.pivot_table(index="Month", columns='member_casual', values=["ride_length"], 
                         aggfunc={'ride_length':['max','mean']})

stats  = [format_time(df['ride_length','mean'].mean().mean()), format_time(df['ride_length','max'].max().max())]

df = df.applymap(format_time)

df = df.reindex(month_order)

column_order = [('ride_length', 'mean', 'member'),
                ('ride_length', 'mean', 'casual'),
                ('ride_length', 'max', 'member'),
                ('ride_length', 'max', 'casual')]

df = df[column_order]

display(df)
#print(f"\033[1m    Year 2023: \t   {stats[0]}  \t\t {stats[1]}\033[0m")

              ride_length
                     mean                         max
member_casual      member    casual            member            casual
Month
January          00:10:21  00:22:54  01 days 00:59:56  23 days 08:03:44
February         00:10:42  00:23:11  01 days 00:59:56  13 days 02:25:46
March            00:10:26  00:21:24  01 days 01:59:40  11 days 16:08:04
April            00:11:41  00:27:40  01 days 00:59:56  12 days 18:35:29
May              00:13:02  00:28:31  01 days 01:00:31  20 days 06:50:31
June             00:13:12  00:29:24  01 days 00:59:56  20 days 11:05:58
July             00:13:41  00:32:20  01 days 00:59:57  35 days 17:41:24
August           00:13:46  00:35:14  01 days 00:59:57  68 days 09:29:04
September        00:13:08  00:25:11  01 days 00:59:57  01 days 01:07:46
October          00:12:09  00:22:52  01 days 00:59:56  01 days 00:59:57
November         00:11:34  00:19:54  01 days 00:59:56  01 days 01:00:25
December         00:11:26  00:19:56  01 days 00:59:56  01 days 00:59:57

    Year 2023: 	   00:18:54  		 68 days 09:29:04

In [368]:
#Calculate the average ride_length for users by day_of_week
dataset = prepared_data
df = dataset.pivot_table(index=["Month"], columns="day_of_week", values="ride_length", aggfunc={'ride_length':'mean'})

stats = [format_time(df[col].mean()) for col in df.columns]

df = df.applymap(format_time)

col_order = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
df = df[col_order]
df = df.reindex(month_order)
display(df)
print(stats)

TypeError: Expected tuple, got str